

<p-sidebar [(visible)]="sideBar" position="right" [baseZIndex]="10000" >
  <h5>Profile</h5>
  <p>{{employee.name}}</p>
  <p>{{employee.email}}</p>
  <p>{{employee.role}}</p>
  <p>Username: {{employee.username}}</p>
  <p-button type="button" (click)="downloadLoggedInUserDetails()" label="Download CSV" styleClass="p-button-secondary"></p-button>
  <p-button type="button" (click)="logOut()" label="Logout" styleClass="p-button-secondary"></p-button>
  <!-- <button class="btn btn-custom left" type="button" (click)="logOut()">Log out</button> -->
  <!-- <p-button type="button" (click)="sideBar = false" label="Close" styleClass="p-button-success"></p-button> -->
  
</p-sidebar>

<div class="row">
  <div class="col s12">
    
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s4">

            <!-- Profile and Logout Functionality -->
            <!-- <div class="input-field col s12"> -->
              
            <!-- <p-button type="button" class="mr-2" (click)="sideBar = true" icon="pi pi-arrow-right"></p-button> -->
              <!-- <button class="btn btn-custom left" type="button" (click)="showProfile()">Profile</button> -->
              <i class="pi pi-user" style="font-size: 2rem" label="Profile" (click)="showProfile()"></i>
            <!-- </div> -->

            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" required>
                  <label>Name :
                    <!-- <label class="red-text">*</label> -->
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="role" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.role" required>
                  <label>Role :</label>
                </div>
              </div>

            <div class="row">
              <div class="input-field col s12">
                
                <input type="text" name= "email" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" required>   
                <label>Email :</label>
              </div>
            </div>


              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="username" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.username" required>
                  <label>Username :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="password" name="password" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.password" required>
                  <label>Password :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)" [disabled]= "!employeeForm.dirty">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col s8">

          <p-table [value]="employeeList" [resizableColumns]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" (sortFunction)="customSort($event)" [customSort]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="username" >
                      Username 
                      <p-sortIcon field="username"></p-sortIcon>
                      <!-- <p-columnFilter type="text" field="username" display="menu"></p-columnFilter> -->
                    </th>
                    <th pResizableColumn pSortableColumn="name" >Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="email" >Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="role" >Role <p-sortIcon field="role"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="dob" >DOB <p-sortIcon field="dob"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="salary" >Salary <p-sortIcon field="salary"></p-sortIcon></th>
                    <th pResizableColumn>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-emp>
                <tr>
                    <td><a class="action-btn" (click)="showEmployeeDetails(emp.username)" routerLinkActive="active">{{emp.username}}</a></td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.role}}</td>
                    <td>{{emp.dob | date: 'dd/MM/yyyy'}}</td>
                    <td>{{emp.salary}}</td>

                    <td>
                      <button mat-icon-button (click)="onEdit(emp)"><mat-icon>launch</mat-icon></button>
                      <button mat-icon-button color="warn" (click)="onDelete(emp._id,employeeForm)">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>


          </div>
        </div> 
        <div class="row">
          <div class="col s5">
          <table class="responsive-table highlight">
            <thead>
              <tr>
                <th>ID</th>
                <th>Creation date</th>
              </tr>
            </thead>

            <tr *ngFor="let dateObj of dateList">
              
              <td>{{dateObj.id }}</td>
              <td>{{dateObj.date | localeDate}}</td>
              
            </tr>
          </table>
          
          </div>  
          <div class="col s3">
          <div>
          <h5>Choose Locale</h5>
          <p-dropdown [options]="this.employeeService.locals" [(ngModel)]="this.employeeService.selectedLocale" placeholder="Select locale for dates" optionLabel="name"
	        [showClear]="false" (click)="updateSelectedLocale()"></p-dropdown>
          </div>

          <div>
          <button style="margin: 5px;" type="button" class="btn btn-secondary" (click)="moveToDatePage()">Go to Date Page</button>
          </div>  
          
        </div>

        <div class="col s2">
          <div>
            <button style="height: 6em; font-size: 5 px;" type="button" class="btn btn-secondary" (click)="moveToChangeDetectionDemo()">Go to Change Detection Demo</button>
          </div>
        </div>

        </div>

</div>
</div>

<!-- <div class="card">

</div>

  </div>
</div>
 -->