<div class="row" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  <div class="col-sm-10" style="text-align:center;">
    <h5>Login</h5>
  </div>

  <!-- <div class="col-md-6 offset-md-3"> -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <div class="input-field col s12">
          <label for="email">E-mail :</label> 
          <input type="email" class= "form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email?.errors && submitted }">
          <div  *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <!-- <script>console.log("Inside error block of email");</script> -->
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">
              Invalid Email Address
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-field col s12">
          <label for="email">Password :</label> 
          <input type="password" class= "form-control" formControlName="password" [ngClass]="{ 'is-invalid': f.password?.errors && submitted }">
          <div  *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <!-- <script>console.log("Inside error block of email");</script> -->
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>

      
      <!-- <div class="row">
        <div class="input-field col s12">
          <input type="password" id="password" name="password" required #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.password" >
          <label>Password :</label>
        </div>
      
        <div style="font-size: 12px; color: red;" *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="error">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
         
        
        </div>
      </div>
       -->

      <div class="form-group" style="text-align:center;">
          <button type="submit"  class="btn btn-dark">Log in</button>
          <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button>
      </div>    
      <!-- <p>{{loginForm.valid}} </p> -->
    </form>
  <!-- </div> -->
</div>